@charset "utf-8";

/*base------------------------------*/

/*selection*/
::selection {
    color: #fff;
    background-color: #123D88;
}

/*body*/
body {
    color: #6c6c6f;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.75em;
}

/*img*/
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}


/*common----------------------------------*/

/*header*/
.header {
    padding: 30px 0;
    background-color: #123D88;
}

.header__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header__logo {
    line-height: 1em;
}

/*footer*/
.footer {
    padding: 30px 0 50px;
    background-color: #123D88;
    text-align: right;
}

.footer__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer__copy {
    color: #FFFFFF;
    font-size: 15px;
}


/*module---------------------------*/

/*unit*/
.unit__catch {
    margin-bottom: 20px;
    color: #256BE6;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    /*英語大文字*/
}

.unit__title {
    margin-bottom: 30px;
    color: #262934;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3em;
}

.unit__text {
    margin-bottom: 40px;
}

/*card*/
.card__icon {
    margin-bottom: 40px;
}

.card__title {
    margin-bottom: 20px;
    color: #2F2F35;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3em;
}

/*btn*/
.btn {
    display: block;
    width: 200px;
    margin-top: 60px;
    padding: 20px 0;
    border-radius: 27.5px;
    color: #fff;
    background-color: #256BE6;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.025em;
    line-height: 1;
    transition: .2s;
}

.btn:hover {
    color: #256BE6;
    background-color: #fff;
    border: solid #256BE6 1.5px;
}

.btn--second {
    background-color: #2DBE61;
}

.btn--second:hover {
    color: #2DBE61;
    background-color: #fff;
    border: solid #2DBE61 1.5px;
}

.btn--outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.btn--outline:hover {
    color: #505050;
    background-color: #fff;
    border: solid #505050 1.5px;
}

.btn--warning {
    background-color: #F87624;
}

.btn--warning:hover {
    color: #F87624;
    background-color: #fff;
    border: solid #F87624 1.5px;
}


/*index.html---------------------------*/

/*features*/
.features {
    padding: 80px 0;

}

.features__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.features__info {
    width: 46%;
}

.features__list {
    width: 46%;
    margin-bottom: -70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features__item {
    width: 46%;
    margin-bottom: 70px;
}

/*payment*/
.payment {
    padding: 80px 0;
    background-color: #F7FAFF;
}

.payment__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.payment__pic {
    width: 46%;
}

.payment__info {
    width: 46%;
}


/*service.html---------------------------*/

/*wedo*/
.wedo {
    padding: 80px 0;
}

.wedo__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.wedo__info {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.wedo__list {
    padding: 60px;
    background-color: #F7FAFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wedo__item {
    padding: 40px;
    width: 30%;
    background-color: #fff;
    text-align: center;
}

.wedo__item .btn--second {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 100%;
}

/*ofar*/
.ofar {
    padding: 80px 0;
    background-color: #505050;
}

.ofar__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.ofar__info {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #FFFFFF;
}

.ofar__info .unit__title {
    color: #FFFFFF;
}

.ofar__info .btn {
    margin-left: auto;
    margin-right: auto;
}


/*help.html------------------------------*/

/*transfer*/
.transfer {
    padding: 80px 0;
}

.transfer__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.transfer__info {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.transfer__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.transfer__item {
    width: 30%;
    text-align: center;
}

/*question*/
.question {
    padding: 80px;
    color: #fff;
    background-color: #123D88;
}

.question__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.question__info {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.question__info .unit__title {
    color: #fff;
}

.question__info .btn--warning {
    margin-left: auto;
    margin-right: auto;
}

/*asked*/
.asked {
    padding: 80px 0;
}

.asked__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.asked__info {
    width: 46%;
}

.asked__list {
    width: 46%;
    margin-bottom: -46px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.asked__item {
    width: 46%;
    margin-bottom: 46px;
    padding: 40px 40px 20px;
    background-color: transparent;
    border: 1px #6C6C6F solid;
    text-align: center;
}