@charset "utf-8";


/*declaration--------------------*/

/*variable*/
$color-main: #244D4D;
$color-bg: #F4F4F4;
$breakpoints: (
    "desktop": "screen and (min-width: 740px)",
    ) !default;

/*misin*/
@mixin m-query($breakpoint: "desktop") {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (640/740)*100%, $mw: 1000px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

@function f-em($myvalue, $value) {
    @return ($myvalue/$value)+em;
}

@mixin m-title-main() {
    margin-bottom: (66em/48
    );
padding-bottom: (30em/48);
font-size: f-rem(48);
font-weight: bold;
line-height: (58/48);
border-bottom: 2px solid;
}

@mixin m-title-sub() {
    margin-bottom: (25em/24);
    font-size: f-rem(24);
    font-weight: bold;
    line-height: (29/24);
}


/*base--------------------*/

/*html*/
// html {
//     font-size: (12em/16
//     );

// @include m-query() {
//     font-size: (16em/16);
// }
// }

/*selection*/
::selection {
    color: $color-bg;
    background-color: $color-main;
}

/*body*/
body {
    color: $color-main;
    font-family: 'Gill Sans',
        'Gill Sans MT',
        Calibri,
        'Trebuchet MS',
        sans-serif;
    font-size: f-rem(16);
    letter-spacing: 0;
    line-height: (27/16);
}

/*img*/
img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}


/*module--------------------*/

/*post*/
.post {
    @include m-flex(flex-start);

    &__pic {
        width: 200px;
        margin-right: (20em/16);

        img {
            width: 100%;
            aspect-ratio: (5/3);
            object-fit: cover;

            @include m-query(desktop) {
                aspect-ratio: (1/1);
            }
        }
    }

    &__content {
        flex: 1;
    }

    &__title {
        @include m-title-sub();
    }
}

/*card*/
.card {
    padding: (45em/16);
    background-color: $color-bg;
    text-align: center;

    &__title {
        @include m-title-sub();
    }

    &__catch {
        margin-bottom: (30em/16);
    }
}

/*btn*/
.btn {
    margin: (60em/16) auto 0;
    padding: (17em/16) 0;
    display: block;
    width: 165px;
    color: #fff;
    background-color: $color-main;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    transition: .2s;
}

.btn:hover {
    color: $color-main;
    background-color: #fff;
    border: solid $color-main 1.5px;
}


/*index.html--------------------*/

/*header*/
.header {
    padding: (40em/16) 0;
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;

    &__inner {
        @include m-inner();
        @include m-flex();
    }

    &__logo {
        font-size: f-rem(26);
        font-weight: bold;
    }
}

/*nav*/
.nav {
    &__list {
        @include m-flex();
    }

    &__item {
        margin-left: (30em/16);
        transition: .2s;
    }

    &__item:hover {
        color: $color-main;
        border-bottom: solid $color-main 1.5px;
    }

    &__active {
        color: $color-main;
        border-bottom: solid $color-main 1.5px;
    }
}

/*visual*/
.visual {
    padding: (250em/16) 0 (140em/16);
    background: url(../images/bg_hero.png) no-repeat center bottom/cover;

    &__inner {
        @include m-inner();
    }

    &__text {
        padding: (65em/16) (60em/16);
        background-color: rgba(255, 255, 255, .6);
        max-width: (480em/16);

        p {
            font-size: f-rem(48);
            font-weight: bold;
            line-height: (58/48);
        }
    }
}

/*about*/
.about {
    &__inner {
        @include m-inner();
    }

    &__title {
        margin-top: (80em/48);
        @include m-title-main();
    }

    &__list {
        @include m-query(desktop) {
            @include m-flex(flex-start);
            margin-bottom: (-50em/16);
        }
    }

    &__item {
        margin-bottom: (50em/16);

        @include m-query(desktop) {
            width: (470/1000)*100%;
        }
    }
}

/*products*/
.products {
    margin-bottom: (120em/16);

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-top: (80em/48);
        @include m-title-main();
    }

    &__list {
        margin-bottom: (-50em/16);
        @include m-flex(stretch);
    }

    &__item {
        margin-bottom: (50em/16);
        width: (300/640)*100%;

        @include m-query(desktop) {
            width: (300/1000)*100%;
        }
    }

    .card__pic {
        width: 100%;
        height: 200px;
        object-fit: contain;
        object-position: center bottom;
    }
}

/* footer */
.footer {
    padding: (120em/16) 0;
    background-color: $color-main;
    color: #fff;

    &__inner {
        @include m-inner();

        @include m-query(desktop) {
            @include m-flex(flex-end);
            flex-direction: row-reverse;
        }
    }

    &__title {
        margin-bottom: (25em/24);
        font-size: f-rem(24);
        font-weight: bold;
        line-height: (29/24);
    }

    &__navall {
        @include m-flex(flex-start);
        margin-bottom: (60em/16);

        @include m-query(desktop) {
            margin-bottom: 0;
        }
    }

    &__nav {
        width: (300/640)*100%;

        @include m-query(desktop) {
            width: fit-content;
            margin-left: (60em/16);
        }
    }

    &__item {
        margin-top: (15em/16);
        transition: .2s;
    }

    &__item:hover {
        border-bottom: solid #fff 1.5px;
        width: fit-content;
    }

    &__info {
        max-width: (250em/16);

        .footer__title {
            margin-bottom: (40em/24);
        }
    }

    &__copy {
        display: inline-block;
        margin-top: (20em/12);
        font-size: f-rem(12);
        line-height: (20/12)
    }
}