/*declaration---------------------------*/
/*base-------------------------------*/
body {
  color: #31353B;
  font-family: Helvetica, sans-serif, Arial;
  font-size: 15px;
  letter-spacing: 0.02em;
  line-height: 1.7333333333;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*common--------------------------------*/
/*header*/
.header {
  margin: 50px 0 80px;
}
.header__inner {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}
.header__list {
  display: flex;
}
.header__category {
  margin-left: 30px;
  font-weight: bold;
}

.list__home {
  color: #FF9900;
}
.list__about {
  color: #FF9900;
}

/*footer*/
.footer {
  padding: 100px 0;
  background-color: #DBFFFF;
  text-align: right;
}
.footer__inner {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.footer__list {
  display: flex;
  justify-content: right;
}
.footer__category {
  margin-left: 30px;
  font-weight: bold;
}
.footer__menu {
  margin-bottom: 40px;
}
.footer__copy {
  font-size: 12px;
  font-weight: bold;
  line-height: 2.1666666667;
}

/*module---------------------------*/
/*unit*/
.unit__catch {
  margin-bottom: 20px;
  color: #FF9900;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6666666667;
}

.unit__title {
  margin-bottom: 40px;
  color: #000000;
  font-size: 48px;
  line-height: 1.2083333333;
}

.unit__text {
  margin-bottom: 60px;
}

.btn {
  display: block;
  width: 200px;
  padding: 20px 33px;
  color: #FFFFFF;
  background-color: #F85A47;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-radius: 10px;
}

.btn--second {
  width: 300px;
  background-color: #FF9900;
}

/*index.html--------------------------------*/
/*office*/
.office {
  margin-bottom: 120px;
}
.office__inner {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.office__info {
  width: 44%;
}
.office__pic {
  width: 50%;
}

/*reviews*/
.reviews {
  margin-bottom: 120px;
}
.reviews__inner {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.reviews__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*card*/
.card {
  width: 47%;
  padding: 45px;
  border: 1px #A3A3A3 solid;
  border-radius: 10px;
}

.card__text {
  padding-bottom: 80px;
}

/*intro*/
.intro {
  display: flex;
}
.intro__info {
  padding-left: 20px;
}
.intro__name {
  font-weight: bold;
}

/*about.html--------------------------------*/
/*property*/
.property {
  margin-bottom: 120px;
}
.property__inner {
  max-width: 1000px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.property__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*post*/
.post {
  width: 30%;
}
.post__pic {
  margin-bottom: 30px;
}
/*# sourceMappingURL=style.css.map */