@charset "utf-8";


/*declaration--------------------*/

/*varisble*/
$color-text: #5A5A5A;
$color-main: #ED145B;
$breakpoints: (
    "desktop": "screen and (min-width: 640px)",
    "full": "screen and (min-width: 1300px)",
    ) !default;

/*mixin*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (560/640)*100%, $mw: 1300px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin m-title() {
    margin: 32px 0 27px;
    padding: 7px 10px;
    width: fit-content;
    color: #fff;
    background-color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: (20/16
    );
}


/*base---------------------------------*/

/*selection*/
::selection {
    color: #fff;
    background-color: $color-main;
}

/*body*/
body {
    color: $color-text;
    font-family: Verdana,
        Geneva,
        Tahoma,
        sans-serif;
    font-size: 14px;
    letter-spacing: (25/1000)*1em;
    line-height: (24/14);
}

img {
    max-width: 100%;
    vertical-align: bottom;
    height: auto;
}


/*coomon-------------------------------*/

/*header*/
.header {
    position: fixed;
    padding: 40px 0;
    width: 100%;
    background-color: #000;

    &__inner {
        @include m-inner(94.1%);

        @include m-flex();
    }
}

/*nav*/
.nav {
    color: #fff;
    font-weight: bold;

    &__list {
        @include m-flex();
        transition: .2s;
    }

    &__item {
        margin-left: 20px;
    }

    &__item:hover {
        color: $color-main;
        border-bottom: solid $color-main 1.5px;
    }

    &__active {
        color: $color-main;
        border-bottom: solid $color-main 1.5px;
    }
}

/*btn*/
.btn {
    display: block;
    width: 200px;
    padding: 17px 0;
    color: #fff;
    background-color: $color-main;
    font-weight: bold;
    text-align: center;
    transition: .2s;

    @include m-query(desktop) {
        margin-left: auto;
        margin-right: auto;
    }
}

.btn:hover {
    color: $color-main;
    background-color: #fff;
    border: solid $color-main 1.5px;
}

.btn--second {
    background-color: #EDAA14;
}

.btn--second:hover {
    color: #EDAA14;
    background-color: #fff;
    border: solid #EDAA14 1.5px;
}

/*footer*/
.footer {
    padding: 60px 0 160px;
    background-color: #000;

    &__inner {
        @include m-inner();
    }

    &__copy {
        color: #fff;
    }
}


/*index.html---------------------------*/

/*visual*/
.visual {
    margin-bottom: 80px;
    padding: 279px 0 150px;
    background: url(../images/bg_mainvisual.png) no-repeat center/cover;

    @include m-query(desktop) {
        padding: 280px 0 180px;
        text-align: center;
    }

    &__inner {
        @include m-inner();
    }

    &__title {
        padding-bottom: 40px;
        color: #fff;
        font-size: 46px;
        font-weight: bold;
        line-height: (55/46);

        span {
            color: $color-main;
        }
    }

    &__lead {
        margin: 0 auto 80px;
        max-width: 900px;
        color: #fff;


        span {
            display: inline-block;
        }
    }
}

/*update*/
.update {
    margin-bottom: 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-bottom: 50px;
        color: #2B2B2B;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        line-height: (46/38);
    }

    &__list {
        margin-bottom: -60px;

        @include m-query(desktop) {
            @include m-flex();
        }
    }

    &__info {
        @include m-query(desktop) {
            width: (260/900)*100%;
        }
    }
}

/*card*/
.card {
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        @include m-query(desktop) {
            aspect-ratio: 4/3;
            object-fit: cover;
        }
    }

    &__title {
        @include m-title();
    }

    &__text {
        margin-bottom: 60px;
    }
}

.card:last-child {
    padding-bottom: 15px;

    @include m-query(desktop) {
        padding-bottom: 0;
    }
}


/*about.html---------------------------*/

/*service*/
.service {
    padding: 180px 0 80px;

    &__inner {
        @include m-inner();
    }

    &__title {
        margin-bottom: -17px;
        color: #2B2B2B;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        line-height: (46/38);
    }

    &__list {
        @include m-query(desktop) {
            @include m-flex();
        }
    }

    &__info {
        margin-top: 67px;

        @include m-query(desktop) {
            width: (420/900)*100%;
        }
    }

}

/*post*/
.post {
    img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;

        @include m-query(desktop) {
            aspect-ratio: 4/3;
        }
    }

    &__title {
        @include m-title();
    }
}

.post:nth-child(odd) .post__title {
    margin-left: auto;

    @include m-query(desktop) {
        margin-left: inherit;
    }
}

/*testmonials*/
.testmonials {
    padding: 80px 0;
    background: url(../images/bg_testimonials.png) no-repeat center/cover;
    text-align: center;

    &__inner {
        padding: 50px;
        @include m-inner();
        background-color: #fff;
    }

    &__title {
        margin-bottom: 50px;
        color: #2B2B2B;
        font-size: 38px;
        font-weight: bold;
        text-align: center;
        line-height: (46/38);
    }

    &__text {
        margin: 37px 0 30px;
        color: #5A5A5A;
        font-size: 16px;
        font-style: italic;
        line-height: (32/16);

        span {
            display: inline-block;
        }
    }

    &__address {
        margin-bottom: 40px;
    }
}